doctype html
html
  head
    meta(charset='UTF-8')
    title webpack 4
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js") 
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css")
  body
    .container
      h1 hi
      .info
      button.btn.btn-primary fetchData